
body{
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(/images/image-background.png);
}
.container{
    height: 100vh;
}
/* nav bar style */

.navbar{
    width: 98%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 20%;
}
.logo a{
    font-size: xx-large;
    color: orange;
    text-decoration: none;
    font-weight: bolder;
}
.logo a span{
    color: red;
   
}
.menu{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.menu{
    list-style: none;
   
}
.menu li a{
    text-decoration: none;
    color:red;
    font-size: larger;
    font-weight: bolder;
}
.menu li a:hover{
    color: orange;
    font-weight: bolder;
}

.landing-page{
width: 80%;
height: 300px;
margin:200px auto;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}
.landing-page span{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    background-color:black;
    border-radius: 40px;

   
}
.btn{
    width: 100px;
    height: 100px;
}
.btn button{
    width: 150px;
    height: 70px;
    background-color: orange;
    border: none;
    border-radius: 40px;   
}
.btn button:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.btn button a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}